{% extends 'core/base.html' %}
{% block title %} Crop Image {% endblock %}
{% block content %}

<div class="container-fluid bg-dark  p-5">
    <div class="row g-3">
    <div class="col-md-6 offset-md-3">
        <div class="card border-0 shadow-md ">
            <div class="card-header bg-secondary text-light">
                <h3>Crop Image</h3>
            </div>
            <div class="card-body">
                <div id="uploadImage"></div>
                <div class="mb-3">
                    <label for="formFile" class="form-label">
                        Select Image :</label>
                    <input class="form-control" type="file" id="image">
                </div>
                <button class="btn btn-outline-secondary btn-block text-uppercase" id="btn-upload-image">
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Crop Image</button>
                    <div id="preview" style="background:#9d9d9d; width:300px; padding:50px 50px; height:300px;"></div>
            </div>
        </div>
    </div>
     
   </div>
</div>
 <script type="text/javascript">


$( document ).ready(function() {
    
    // $('#uploadImage').hide();
    $('#preview').hide();
   


    var resize = $('#uploadImage').croppie({
        enableExif: true,
        enableOrientation: true,
        viewport: { // Default { width: 100, height: 100, type: 'square' } 
            width: 200,
            height: 200,
            type: 'square' //cicle
        },
        boundary: {
            width: 300,
            height: 300
        }
    });


    $('#image').on('change', function () {
        var reader = new FileReader();
        reader.onload = function (e) {
            resize.croppie('bind', {
                url: e.target.result
            }).then(function () {
                $('#uploadImage').show();
                console.log('jQuery bind complete');
            });
        }
        reader.readAsDataURL(this.files[0]);
    });


    $('#btn-upload-image').on('click', function (ev) {
        resize.croppie('result', {
            type: 'canvas',
            size: 'viewport'
        }).then(function (img) {
            console.log('Working....................');
            console.log(img);
            

            var serializedData = new FormData();    
            serializedData.append( 'cropped_image', img );

            console.log(serializedData)

            $.ajax({
                url: "{% url 'upload_image' %}",
                type: "POST",
                data: serializedData,
                dataType: 'json',
                cache:false,
                contentType: false,
                processData: false,
                success: function (data) {
                    console.log(data);

                    $('#preview').show();
                    html = '<img src="' + img + '" />';
                    $("#preview-crop-image").html(html);
                }
            });
        });
    });

});
</script>



{% endblock %}